<div *ngIf="!isLoading">
    <div class="section-header">
        <h2 *ngIf="!bookAppointment"><i class="fas fa-calendar-check"></i> Appointments</h2>
        <h2 *ngIf="bookAppointment"><i class="fas fa-calendar-check"></i> Appointments - Book Appointment</h2>
        <div class="section-tabs">
            <div class="tab" (click)="clickedTab = 'upcoming'" routerLink="/dashboard-client/appointments/upcoming" *ngIf="!bookAppointment"
                [class.active]="clickedTab === 'upcoming'">
                Upcoming
            </div>
            <div class="tab" (click)="clickedTab = 'history'" routerLink="/dashboard-client/appointments/history" *ngIf="!bookAppointment"
                [class.active]="clickedTab === 'history'">
                History
            </div>

            <div class="tab" (click)="clickedTab = 'goBack'" routerLink="/dashboard-client/appointments/history" *ngIf="bookAppointment"
                [class.active]="clickedTab === 'goBack'">
                <i class="fas fa-arrow-left"></i>
                GO BACK
            </div>
        </div>
    </div>

    <div class="appointment-booking" *ngIf="!bookAppointment" (click)="clickedTab = 'goBack'">
        <div class="form-actions">
            <button class="btn-primary" [routerLink]="['/dashboard-client/appointments/book-appointment']">
                <i class="fas fa-calendar-plus"></i> Book an Appointment
            </button>
        </div>
    </div>

    <div class="appointments-section">
        <router-outlet></router-outlet>
    </div>
</div>
<app-client-loading-wrapper [isLoading]="isLoading"></app-client-loading-wrapper>