<div class="flex gap-6 mb-6">
<div class="w-2/3">

    <div class="grid grid-cols-3 gap-4 mb-6">
        <app-total-patient></app-total-patient>
        <app-appointments></app-appointments>
        <app-available-beds></app-available-beds>
    </div>
    <app-patient-admissions></app-patient-admissions>
    <app-recent-patients></app-recent-patients>
</div>
<div class="w-1/3">
    <app-dep-status></app-dep-status>
    <app-today-appointments></app-today-appointments>
    <app-inventory-status></app-inventory-status>
</div>
</div>