<div class="header">
    <div class="page-title">
        <h1 [class.fade]="fadeState === 'hidden'" [class.visible]="fadeState === 'visible'">
            {{ title }}
        </h1>
    </div>
    <div class="header-actions">
        <div class="notification-icon">
            <i class="fas fa-bell"></i>
            <span class="badge" *ngIf="unreadNotificationsCount() > 0">{{unreadNotificationsCount()}}</span>
        </div>
        <div (click)="onShowOptions()" class="user-profile">
            <i class="fas fa-user-circle"></i>
            <span>{{patientName}}</span>

            <div class="dropdown-menu" *ngIf="showOptions">
                <button routerLink="/dashboard-client/profile">Go to Profile</button>
                <button (click)="logout()">Logout</button>
            </div>
        </div>
        <span class="online-indicator" title="Online"></span>
    </div>
</div>