<div class="app-container" *ngIf="!isLoading ">
  <app-client-sidebar></app-client-sidebar>

  <div class="main-content">
    <app-client-header></app-client-header>

    <div class="content-area">
      <ngx-sonner-toaster position="top-center" [richColors]="true" [closeButton]="true" [duration]="5000"
        theme="light" [expand]="true" [visibleToasts]="5" />
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<app-client-loading-wrapper [isLoading]="isLoading"></app-client-loading-wrapper>