<div class="section-header">
    <h2>Feedback</h2>
</div>

<div class="feedback-section" *ngIf="!isLoading">
    <div class="feedback-form">
        <h3>Share Your Experience</h3>
        <div class="form-group">
            <label for="feedback-type">Feedback Type</label>
            <select id="feedback-type" (change)="onFeedbackTypeChange()" [(ngModel)]="selectedFeedbackType">
                <option value="">Select Type - General in default</option>
                <option value="general">General Feedback</option>
                <option value="doctor">FeedBack To Doctor</option>
            </select>
        </div>

        <div class="form-group" *ngIf="!isGeneralFeedback">
            <label for="department-feedback">Doctor</label>
            <select id="department-feedback" [(ngModel)]="doctorFeedbackId">
                <option value="">Select Doctor</option>
                <option *ngFor="let dept of feedbackDoctors" [value]="dept.id">{{dept.fullName}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="feedback-message">Your Feedback</label>
            <textarea id="feedback-message" rows="5" placeholder="Please share your thoughts with us..."
                [(ngModel)]="feedbackMessage"></textarea>
        </div>

        <div class="form-group">
            <label>Rate Your Experience</label>
            <div class="rating">
                <i *ngFor="let star of [1, 2, 3, 4, 5]" class="fa-star" [ngClass]="{'fas': (hoveredRating >= star) || (hoveredRating === 0 && selectedRating >= star),
            'far': (hoveredRating < star && selectedRating < star)}" (click)="setRating(star)"
                    (mouseenter)="setHover(star)" (mouseleave)="clearHover()" style="cursor: pointer;"></i>
            </div>

        </div>

        <div class="form-actions">
            <button class="btn-primary" (click)="submitFeedback()">Submit Feedback</button>
        </div>
    </div>

    <div class="surveys">
        <h3>Past Feedback</h3>
        <div class="feedback-list">
            <div *ngFor="let feedback of feedbacks" class="feedback-card">
                <p class="feedback-comment">"{{ feedback.comment }}"</p>

                <div class="feedback-rating">
                    <ng-container *ngFor="let star of [1,2,3,4,5]">
                        <i class="fa-star" [ngClass]="{'fas': star <= feedback.rating, 'far': star > feedback.rating}">
                        </i>
                    </ng-container>
                </div>

                <p class="feedback-date">Submitted on: {{ feedback.createdAt | date:'medium' }}</p>

                <div class="feedback-actions">
                    <button class="btn-edit" (click)="editFeedback(feedback.id)">Update</button>
                    <button class="btn-delete" (click)="deleteFeedback(feedback.id)">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>

<app-client-loading-wrapper [isLoading]="isLoading"></app-client-loading-wrapper>