<header>
    <div class="header-top">
        <div class="header-top-content">
            <a class="header-top-link">Help & Support</a>
            <a class="header-top-link">Contact</a>
            <a  class="header-top-link">English</a>
        </div>
    </div>
    <div class="header-main">
        <a class="logo" href="#">
            <div class="logo-icon">H+</div>
            <div class="logo-text">
                <h1>HospitAll</h1>
                <p>Professional Healthcare Solutions</p>
            </div>
        </a>
        <div class="header-actions">
            <a routerLink="/login" class="btn-header">Sign In</a>
            <a routerLink="/signup-client" class="btn-header primary">Register</a>
        </div>
    </div>
</header>