<!-- Login Container -->
<div class="login-container">
  <!-- Left Side - Sign Up Section -->


  <!-- Right Side - Sign In Section -->
  <div class="right-section">
    <div class="signin-content">
      <div class="login-header" *ngIf="!requestSuccess">
        <h2>Password Recovery</h2>
        <p class="subtitle">Enter the email you registered with and we’ll send you a reset link.</p>
      </div>

      <div class="login-header" *ngIf="requestSuccess">
        <h2>Email Sent Successfully</h2>
        <p class="subtitle">Check your email to reset your password.</p>
        <a class="btn-back" routerLink="/login">Click here to go back to login or you will be redirected
          automatically in {{redirectionTime}} seconds</a>
      </div>

      <div class="login-content" *ngIf="!requestSuccess">
        <div>
          <!-- Login Form -->
          <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()" class="login-form">
            <div class="input-group">
              <input type="email" id="email" formControlName="email" placeholder="Email"
                [ngClass]="{'is-invalid': submitted && f['email'].errors}">
              <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                <div *ngIf="f['email'].errors['required']">Email is required</div>
                <div *ngIf="f['email'].errors['email']">Invalid email format</div>
              </div>
            </div>

            <button type="submit" class="signin-btn" [disabled]="processing">
              <span *ngIf="!processing">RECOVER YOUR PASSWORD</span>
              <span *ngIf="processing" class="loading-spinner">
                <i class="fas fa-circle-notch fa-spin"></i> Processing...
              </span>
            </button>
          </form>

          <div class="forgot-password">
            <a [routerLink]="['/login']">Do you want to Login?</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="left-section">
    <div class="content">
      <h1>Login</h1>
      <p>Enter your personal info and connect with us</p>
      <button class="sign-up-btn" [routerLink]="['/login']">Login</button>
    </div>
    <div class="decorative-circles">
      <div class="circle circle-1"></div>
      <div class="circle circle-2"></div>
      <div class="circle circle-3"></div>
    </div>
  </div>
</div>